.aboutSection {
    height: 100vh;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainAboutCard{
    background: red;
    height: 70%;
    width: 90%;
}

