/* estilo principal da pagina main */
.aboutSection {
  height: 100vh;
  background: #394a60;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  scroll-snap-align: start;
  position: sticky;
  top: 0;
  left: 0;
}

.mainAboutCard {
  display: flex;
  height: 70%;
  width: 90%;
}
/* estilização do conteudo à esqueda da pagina imagem */
.mainAboutCard .leftAboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.mainAboutCard .leftAboutCard h1 {
  color: #e7eef6;
}
.mainAboutCard .leftAboutCard img {
  width: 60%;
  animation-name: aboutImgAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.mainAboutCard .leftAboutCard img:hover {
  transform: scale(1.1);
}
/* animação da imagem  */
@keyframes aboutImgAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* definicao do conteudo à direita paragrafo e texto */
.mainAboutCard .rightAboutCard {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 50%;
}
.mainAboutCard .rightAboutCard p {
  color: #e7eef6;
  max-width: 80%;
  font-size: 1.2em;
  font-weight: 300;
  border: solid #e7eef6 1px;
  padding: 3%;
}
@media (max-width: 750px) {
}
@media (max-width: 490px) {
  .mainAboutCard .leftAboutCard {
    display: none;
  }
  .mainAboutCard .rightAboutCard {
    height: 100%;
    width: 100%;
  }
  .mainAboutCard .rightAboutCard p {
    max-width: 100%;
    font-size: 1.8em;
  }
}
