nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #3c526a;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 40px -15px  black;
  }
  
  /* Config Left navbar (texto) */
  nav .navText {
    display: flex;
    width: 50%;
    padding: 1.5%;
    padding-left: 3%;
    transition: 0.5s;
  }
  nav .navText a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
  }

  nav .navText p {
    position: relative;
  }
  
  nav .navText p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    transition: width 0.5s ease;
  }
  nav .navText p:hover::after {
    width: 100%;
  }
  /* Config right nav(nav menu) */
  nav .navMenu {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 3%;
  }
  nav .navMenu li {
    display: inline-block;
    margin: 2px;
    cursor: pointer;
  }
  nav .navMenu li a {
    text-decoration: none;
    margin: 2px;
    padding: 10px;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 1px;
    font-size: 1.17em;
  }
  nav .navMenu a:hover {
    background: #e7eef6;
    color: #3c526a;
    transition: 0.5s;
    box-shadow: -5px 5px 1px black;
    transform: scale(1.05);
  }