.mainProjects {
  display: flex;
  flex-direction: column;
  background: #3b597b;
  height: 100vh;
}

.topPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 23vh;
  color: #ffffff;
}
.topPage p {
  font-weight: 300;
}

.bottomPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
  height: 77%;
}
